<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/shiva/Documents/CucucmberBDDFWDemo/src/test/java/com/sip/runners/WebRunner.java">
        <classes>
            <class name="com.sip.runners.WebRunner"></class>
        </classes>
    </test>
</suite>